/* variables */

header {
    background: linear-gradient(
        rgb(29, 2, 37) 20%,
        rgb(46, 8, 68) 35%,
        rgb(184, 107, 7) 120%
      );
      text-align: left;
      padding: 5px;
      margin-bottom: 5px;
      color: aliceblue;
}

/*Toggle Dark/Light Mode styling */

#btn-toggle {
    margin-top: 10px;
}

body {
    --text-color: #222;
    --bkg-color: rgb(243, 237, 243);
}

body.dark-theme {
    --text-color: #eee;
    --bkg-color: #0f0f0fe7;
}

body {
    color: var(--text-color);
    background: var(--bkg-color);
}

#location {
    --text-color: #eee;
    --bkg-color: #0f0f0fe7;
}

.card1 {
    --text-color: rgb(245, 238, 238);
    --bkg-color: #0f0f0fe7;
}


/* global styles */


/* styles per section */


/* MEDIA QUERIES */
/* small screens */
/* @media screen and (min-width: 640px) {} */

/* medium screens */
/* @media screen and (min-width: 768px) {} */

/* large screens */
/* @media screen and (min-width: 992px) {} */

/* xl screens */
/* @media screen and (min-width: 1200px) {} */
